/* styles.css */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between; /* Space items evenly along the main axis */
    overflow: hidden;
}

.slider {
    display: flex;
    width: 100%;
    height: 100%;
}

.box1 .box3{
    flex: 0 0 20%; /* Each box takes up 30% of the container width */
    position: relative;
}
.box2{
    flex: 0 0 60%; /* Each box takes up 30% of the container width */
    position: relative;
}
.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
